# SUPABASE (Base de données & Auth)
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT_ID].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJh..."

# STRIPE (Paiements)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# RESEND (Emails)
RESEND_API_KEY="re_..."

# SÉCURITÉ ADMIN
ADMIN_PASSWORD="nafe_secret_admin"
